<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div *ngIf="currentUserDisplayName" class="ion-padding" style="text-align: center;">
          <ion-icon name="person-circle-outline"></ion-icon> <br>
          <ion-text>Welcome {{currentUserDisplayName.display_name}}</ion-text>
        </div>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-button expand="block" color="primary" *ngIf="currentUserDisplayName" (click)="logOut()">LOGOUT</ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content">

      <ion-tabs>
        <ion-tab-bar slot="bottom" color="primary">
          <ion-tab-button tab="home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

    </ion-router-outlet>
  </ion-split-pane>
</ion-app>
