<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
   </ion-buttons>
    <ion-title>
      Reset Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<div class="ion-padding">
  <h3> Reset Password </h3>
  <p>Please enter the email address associated to your account.</p>
  <p>A password reset link will be sent to that email address.</p>
  <p>You have to click on that link to reset your password.</p>
  <ion-grid>
    <form #passwordReset="ngForm">
    <ion-row>
      <ion-col>
        <ion-input
        class="input"
        ngModel 
        name="email" 
        required 
        #loginEmail="ngModel" 
        [(ngModel)]="email"
        type="email"
        placeholder="Email"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          [disabled]="disableBtn"
          expand="block"
          (click)="resetPassword()"
          color="primary"
          ><strong>Reset Password</strong
          ><span *ngIf="spinner"><ion-spinner name="lines"></ion-spinner></span
        ></ion-button>
      </ion-col>
    </ion-row>
  </form>
  </ion-grid>
</div>

</ion-content>
